# Dependencies
**/node_modules/
node_modules

# Build outputs
**/dist
**/build
**/.next
**/.turbo
**/.cache

# Development files
**/.git
**/.env*
**/*.log
**/.DS_Store

# Test coverage
**/coverage

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

dist
.env*
*/.programsBin
**/.programsBin
packages/programs/.programsBin
