@import "tailwindcss";
@theme {
    --font-sans: "Open Sans", sans-serif;
    --font-serif: "Libre Caslon Text", serif;
    --font-script: "Kaushan Script", serif;
}
@plugin "daisyui"{
  themes: light --default, dark --perfersdark;
}

.group-hover\:visible {
    transition-delay: 400ms;
}

@plugin "daisyui/theme" {
  name: "news";
  default: false; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(96.15% 0.0241 104.28);
  --color-base-200: oklch(90% 0.0241 104.28);
  --color-base-300: oklch(80% 0.0241 104.28);
  --color-base-content: oklch(20% 0.05 240);
  --color-primary:oklch(24.69% 0.0046 17.47);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary:oklch(50% 0.0679 262.29);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(64.7% 0.2372 32.82);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
.libre-caslon-text-regular {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-caslon-text-bold {
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-caslon-text-regular-italic {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: italic;
}

.kaushan-script-regular {
    font-family: "Kaushan Script", serif;
    font-weight: 400;
    font-style: normal;
}

.comic-neue-light {
    font-family: "Comic Neue", serif;
    font-weight: 300;
    font-style: normal;
}

.comic-neue-regular {
    font-family: "Comic Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.comic-neue-bold {
    font-family: "Comic Neue", serif;
    font-weight: 700;
    font-style: normal;
}

.comic-neue-light-italic {
    font-family: "Comic Neue", serif;
    font-weight: 300;
    font-style: italic;
}

.comic-neue-regular-italic {
    font-family: "Comic Neue", serif;
    font-weight: 400;
    font-style: italic;
}

.comic-neue-bold-italic {
    font-family: "Comic Neue", serif;
    font-weight: 700;
    font-style: italic;
}


.open-sans-regular {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.itim-regular {
  font-family: "Itim", serif;
  font-weight: 400;
  font-style: normal;
}

#root {
    font-family: "Itim", serif;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  will-change: transform;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-bold;
}