@import "tailwindcss";

@font-face {
  font-family: 'Mister';
  src: url('assets/fonts/mister-firley.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EarlyQuake';
  src: url('assets/fonts/early-quake.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Naganoshi';
  src: url('assets/fonts/naganoshi.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#root {
  font-family: 'EarlyQuake', sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  padding: 0;
  margin: 0;
}
